<section class="about-section">
    <div class="wrapper-inner about">
        <div class="profile">
            <div class="profile-pics">
                <img src="{{asset "images/landing-1/fabio.png"}}" alt="Fabio Krauss">
                <img src="{{asset "images/landing-1/george.jpeg"}}" alt="George Abramishvili">
            </div>
            <div class="names">
                <p>Fabio Krauss &<br>George Abramishvili</p>
                <div class="signature">
                    <img class="sign" src="{{asset "images/landing-1/sign.svg"}}" alt="Spoof Defender">
                </div>
            </div>
        </div>
        <div class="content">
            <p>In the last 2 years of working with SaaS businesses with Affiliate programs, we noticed that 9/10 struggle to keep them fraud-free.</p>
            <p>Yup... And while it's easier than ever to get affiliates, it’s harder than ever to monitor their behavior.</p>
            <p class="highlight"><span class="red-text">Most SaaS brands with affiliate programs face two main challenges:</span></p>
            <ol class="highlight-list">
                <li>Identifying and stopping fraudulent affiliates</li>
                <li>And keeping them out of their program for good</li>
            </ol>
            <p>This often results in higher CPCs, less organic brand traffic, and an affiliate program that looks like it's growing but in reality isn't boosting organic revenue.</p>
            <p class="highlight"><span class="red-text">That’s why we built Spoof Defender</span> - to give SaaS brands with growing Affiliate programs a leg-up in the game.</p>
            <p>So we'd love for you to give it a try!</p>
            <p>Cheers,</p>
        </div>
    </div>
</section>