<section class="info-section">
    <div class="wrapper-inner">
        <div class="info-top">
            <h2 class="page-title">It’s like Insurance <br>
            But against Affiliate Fraud...
            </h2>
            <p>...and the peace of mind is just an added bonus!</p>
        </div>
        <div class="cards">
            <div class="card">
                <div class="sheild">
                    <img class="sheild-image" src="{{asset "images/landing-1/sheild.png"}}" alt="">
                </div>
                <p>Choose your top-performing branded keywords and we’ll monitor them for any signs of affiliate fraud - <strong>24/7</strong></p>
            </div>
            <div class="card">
                <div class="sheild">
                    <img class="sheild-image" src="{{asset "images/landing-1/sheild.png"}}" alt="">
                </div>
                <p><strong>Get instant fraud alerts delivered straight into your inbox.</strong>  No need to log in. No complex dashboards. <br>Just the affiliate you <br> need to cut off.</p>
            </div>
            <div class="card">
                <div class="sheild">
                    <img class="sheild-image" src="{{asset "images/landing-1/sheild.png"}}" alt="">
                </div>
                <p>Regain full control over your organic brand traffic. Save your affiliate budget and reduce CPCs <br> <strong>in just 7 weeks</strong></p>
            </div>
        </div>
        <div class="demo-section">
            <div class="demo-video">
                <img src="https://placehold.co/850x500" alt="">
            </div>
            <div class="trial-block">
                <p class="try">Try Spoof Defender for Your Affiliate Program. <br> First 7 Days are On Us!</p>
                <button class="cta-button">
                    <a class="" href="#">START FREE TRIAL</a>
                </button>
            </div>
        </div>
    </div>
</section>