<section class="monitoring-section">
    <div class="wrapper-inner">
        <div class="monitoring-top">
            <h2 class="page-title">And What If I Don’t <br> Have Any Crooks?
            </h2>
            <p>Should I still pay?</p>
            <p>Well...</p>
        </div>
        <div class="cards">
            <div class="card">
                <div class="sheild">
                    <img class="sheild-image" src="{{asset "images/landing-1/ask.png"}}" alt="">
                </div>
                <p>Would you still back up your data if your system hasn’t crashed lately?</p>
            </div>
            <div class="card">
                <div class="sheild">
                    <img class="sheild-image" src="{{asset "images/landing-1/ask.png"}}" alt="">
                </div>
                <p>Would you still pay for your Home Security System if you didn’t get a break in this month?</p>
            </div>
            <div class="card">
                <div class="sheild">
                    <img class="sheild-image" src="{{asset "images/landing-1/ask.png"}}" alt="">
                </div>
                <p>Would you delete your Antivirus if you’ve never been infected?</p>
            </div>
        </div>
        <div class="monitoring-image">                    
            <img src="https://placehold.co/300x350" alt="">
        </div>
        <div class="trial-block monitoring-block">
            <p class="try">It’s your call! <br> You can cancel at any given moment.</p>
            <button class="cta-button">
                <a class="" href="#">START MONITORING NOW</a>
            </button>
        </div>
    </div>
</section>