<section class="testimonials-section">
    <div class="testimonials">
        <div class="testimonial">
            <div class="testimonial-text">
                <h3>Testimonials</h3>
                <p>Or Proof of results</p>
            </div>
        </div>
        <div class="testimonial">
            <div class="testimonial-text">
                <h3>Testimonials</h3>
                <p>Or Proof of results</p>
            </div>
        </div>
        <div class="testimonial">
            <div class="testimonial-text">
                <h3>Testimonials</h3>
                <p>Or Proof of results</p>
            </div>
        </div>
        <div class="testimonial">
            <div class="testimonial-text">
                <h3>Testimonials</h3>
                <p>Or Proof of results</p>
            </div>
        </div>
    </div>
</section>